<script>
  <package>org.xmodel.net.nu.xaction</package>

  <executor var="executor" threads="5"/>
  <scheduler var="scheduler" threads="1"/>

  <assign var="schedule">
    <script>
      <run var="r" via="$server" to="$name" timeout="1000" lifetime="1000">
        <script>
          <create var="result">
            <result>Works!</result>
          </create>
          <return>$result</return>
        </script>
      </run>
      
      <run delay="1000" scheduler="$scheduler">$schedule</run>
    </script>
  </assign>

  <assign var="onRegister">
    <script in="transport, name">
      <run executor="$executor">
        <print>format( 'Transport %s registered with name, %s', $transport, $name)</print>
        <run delay="1000" scheduler="$scheduler">$schedule</run>
      </run>
    </script>
  </assign>
  
  <assign var="onDeregister">
    <script in="transport, name">
      <print>format( 'Transport %s registered with name, %s', $transport, $name)</print>
    </script>
  </assign>
  
  <assign var="onReceive">
    <script in="transport, message, request">
      <run when="name( $message) = 'script'" executor="$executor">
        <logi>format( '[SERVER] Received:\n%s', $message)</logi>
  
        <try>
          <run var="result">$message</run>
          <assign when="not( is-defined( 'result'))" var="result">empty()</assign>
          <respond via="$transport" request="$message">$result</respond>
        </try>      
        <catch>
          <respond via="$transport" request="$message">$exception</respond>
        </catch>
      </run>
    </script>
  </assign>

  <assign var="onError">
    <script in="transport, error">
      <logi>format( '[SERVER] Error:\n%s', $error)</logi>
    </script>
  </assign>

  <assign var="onConnect">
    <script>
      <logi>'[SERVER] Client connected'</logi>
    </script>
  </assign>
  
  <assign var="onDisconnect">
    <script>
      <logi>'[SERVER] Client disconnected'</logi>
    </script>
  </assign>
  
  <if test="true()">
    <amqpClient var="server" host="'127.0.0.1'" port="5672" purge="true()" protocol="'xip'">
      <heartbeatPeriod>5000</heartbeatPeriod>
      <heartbeatTimeout>15000</heartbeatTimeout>
      <consumeQueue>'server_recv'</consumeQueue>
      <onConnect>$onConnect</onConnect>
      <onDisconnect>$onDisconnect</onDisconnect>
      <onRegister>$onRegister</onRegister>
      <onDeregister>$onDeregister</onDeregister>
      <onReceive>$onReceive</onReceive>
      <onError>$onError</onError>
    </amqpClient>
  </if>
  <else>
    <tcpServer var="server" host="'0.0.0.0'" port="10000">
      <protocol>'xip'</protocol>
      <onConnect>$onConnect</onConnect>
      <onDisconnect>$onDisconnect</onDisconnect>
      <onRegister>$onRegister</onRegister>
      <onDeregister>$onDeregister</onDeregister>
      <onReceive>$onReceive</onReceive>
      <onError>$onError</onError>
    </tcpServer>
  </else>
</script>
