<script>
  <package>org.xmodel.net.nu.xaction</package>

  <assign var="onReceive">
    <script in="transport, message">
      <logi>format( '[SERVER] Received:\n%s', $message)</logi>
      
      <run>$message</run>
      
      <respond via="$transport">
        <script>
          <print>'Hi'</print>
        </script>
      </respond>
    </script>
  </assign>

  <assign var="onError">
    <script in="transport, error">
      <logi>format( '[SERVER] Error:\n%s', $error)</logi>
    </script>
  </assign>

  <assign var="onConnect">
    <script>
      <logi>'[SERVER] Client connected'</logi>
    </script>
  </assign>
  
  <assign var="onDisconnect">
    <script>
      <logi>'[SERVER] Client disconnected'</logi>
    </script>
  </assign>
  
  <amqpClient var="server" amqpHost="'127.0.0.1'" amqpPort="5672" onReceive="$onReceive" onError="$onError" onConnect="$onConnect" onDisconnect="$onDisconnect">
    <publishQueue>'client_recv'</publishQueue>
    <consumeQueue>'server_recv'</consumeQueue>
  </amqpClient>
</script>