<script>
  <create var="m">
    <forest>
      <tree id="1">
        <branch>
          <leaf/>
          <leaf/>
          <leaf/>
        </branch>
      </tree>
    </forest>
  </create>

  <startServer>
    <host>'localhost'</host>
    <port>12121</port>
    <timeout>60000</timeout>
    <context>$m</context>
  </startServer>
  
  <startTimer id="'1'" period="2000">
    <create parent="$m">
      <tree id="{$id}">
        <branch>
          <leaf/>
        </branch>
      </tree>
    </create>
  </startTimer>
  
  <eventLoop/>
</script>